body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}

.menu-lateral {
    background-color: #e5e5e5;
    padding: 20px;
}